.spinner-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.spinner {
    width: 48px;
    height: 48px;
    background-color: gray;
    box-shadow: 0 0 1px gray;
    animation: spinner-spin 1s infinite forwards;
}

@keyframes spinner-spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner-backdrop + div {
    max-height: 100%;
    overflow: hidden;
}
