.evaluation-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 32px 56px;
    z-index: 1;
}

.evaluation-container {
    background-color: white;
    height: 100%;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.evaluation-container a {
    /* color: var(--secondary); */
    display: inline-flex;
    align-self: flex-start;
}

.evaluation-container .closer {
    display: inline-flex;
    align-self: flex-end;
}