.correct-copie-container {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    right: -258px;
    max-width: 100%;
    width: 256px;
    padding: 24px 8px;
    z-index: 2;
    outline: solid 1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #FFFFFF;
    transition: all .25s;
    box-shadow: 2px 2px 4px gray;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.correct-copie-container.show {
    right: 0;
}

.correct-copie-container .correction-handle {
    position: absolute;
    top: 8px;
    left: -24px;
    height: 48px;
    width: 24px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 4px 4px -2px gray;
}

.correct-copie-container .correction-handle input {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    border: solid 1px;
}

.correct-copie-container .correction-handle:hover {
    background-color: lightgray
}

.correct-copie-container .correction-handle:active {
    background-color: darkgray;
}

#annotation-modal {
    z-index: 2;
}

#annotation-modal .modal-container {
    row-gap: 8px;
}

#annotation-modal input {
    align-self: flex-end;
}
