nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    padding: 24px 8px;
    background-color: gray;
}

nav a {
    padding: 8px 16px;
    border-radius: 4px;
    color: #000000;
    text-decoration: none;
}
nav a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
nav a:active {
    background-color: rgba(255, 255, 255, 0.2);
}
nav a.active {
    color: blue;
}

hr {
    margin: 8px 0;
}