#root {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #e7e6e6;
}

.container {
    height: 100%;
    padding-left: var(--navbarWidth);
    padding-top: var(--headerHeight);
    transition: all .5s;
}

main {
    padding: 8px;
    position: relative;
    overflow: auto;
    height: 100%;
}
